<form method="POST" action="/tweet">
  <label for="status">Status: 
  <input id="status" type="text" name="status" /></label><br>
  
  <button>post</button>
</form>
<div>
  <a href="/auth/twitter">twitter login</a>
</div>